<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hansung.anroidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAt0K5XMc2lgpaPc5d6KmgKHal_-tkDW_c" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".shop.Fragment1" />
        <activity android:name=".shop.Fragment2" />
        <activity android:name=".book.Fragment3" />
        <activity android:name=".detailShop.DetailStore" />
        <activity android:name=".navi.ServiceIntro" />
        <activity android:name=".navi.ServiceContact" />
        <activity
            android:name=".detailShop.DetailStorePOP"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".detailShop.DetailStorePOP_location" />
        <activity
            android:name=".detailShop.DetailStorePOP_Book"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".auth.stylelistSignupActivity" />
        <activity android:name=".auth.userSignupActivity"></activity>
    </application>

</manifest>